* {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}
canvas {
  background-color: aliceblue;
  object-fit: contain;
}

.container {
  background-color: lightgoldenrodyellow;
  padding: 10px;
}
